---
import Layout from '../../components/Layout.astro';
import Icon from '../../components/Icon';
---

<Layout>
  <section>
    <h1>About</h1>
    <div class="description">
      <h2></h2>
      <p>
        I am a web developer and consultant based in Atlanta. I can best be
        described as a front-end full stack developer. I operate from a product
        and customer centric perspective, always choosing technologies and
        solutions that benefit the end user. I love leading teams and working in
        collaborative and agile environments. I believe in being egoless and
        open while still exercising extreme ownership and responsibility.<br
        /><br />
        I am currently looking for new full-time opportunities. If your org is digital
        first and has a company culture of continuous deployment and growth, then
        please do get in touch. I am open to working for product companies, agencies,
        or consultancies as long as I am hands on keyboard. I am not interested in
        any web-3 or blockchain products at this time.
      </p>
    </div>
    <div class="links">
      <ul>
        <li>
          <a href="https://twitter.com/calin_ennis" target="_blank"
            ><Icon type="twitter" />twitter</a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/in/calinennis/" target="_blank"
            ><Icon type="linkedin" />linked-in</a
          >
        </li>
        <li>
          <a href="https://github.com/C3nE3s" target="_blank"
            ><Icon type="github" />github</a
          >
        </li>
        <li>
          <a href="about/resume" target="_blank"
            ><Icon type="document" />resume</a
          >
        </li>
        <li>
          <a href="mailto: calinennis+siteinquiry@gmail.com" target="_blank"
            ><Icon type="email" />email</a
          >
        </li>
      </ul>
    </div>
  </section>
</Layout>

<style lang="scss">
  section {
    width: 75vw;
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }

  h1 {
    width: fit-content;
    margin: 0 auto;
    font-family: var(--font-display);
    font-weight: var(--font-weight-1);
    text-align: right;
    font-size: var(--font-size-4);
    letter-spacing: var(--font-letterspacing-2);
    text-transform: uppercase;
    position: relative;

    &:before {
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
      content: '';
      height: 0.125rem;
      width: 66%;
      margin: 0 0 0 auto;
      background-color: var(--neutral-12);
    }
    &:after {
      position: absolute;
      bottom: -0.125rem;
      right: 1rem;
      content: '';
      height: 0.125rem;
      width: 75%;
      margin: 0 0 0 auto;
      background-color: var(--neutral-12);
    }
  }

  h2 {
    position: relative;
    font-family: var(--font-sans);
    letter-spacing: var(--font-letterspacing-2);
    width: fit-content;

    &:first-letter {
      font-family: var(--font-display);
      font-size: var(--font-size-4);
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: var(--font-letterspacing-2);
      margin-right: var(--size-00);
      padding-right: 1px;
    }
    &:before {
      position: absolute;
      bottom: 0.125rem;
      right: 0;
      left: 0;
      content: '';
      height: 2px;
      width: 66%;
      margin: 0 auto;
      background-color: var(--neutral-6);
    }
  }

  p {
    text-align: justify;
    line-height: var(--font-lineheight-2);
    font-weight: var(--font-weight-3);
  }

  .links {
    width: 100%;
  }

  .links > * {
    margin-bottom: 2rem;
  }

  .links > h2 {
    width: 100%;
    text-align: center;
  }

  .links > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
  }
  .links > ul > li {
    flex: 1 0 48%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .links > ul > li > a {
    height: 80px;
    aspect-ratio: 1/1;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links > ul > li > a:hover {
    border: 2px solid var(--brand-8);
    border-radius: var(--radius-2);
    background-color: var(--brand-4);
  }

  .links > ul > li > a:active {
    border: 2px solid var(--brand-8);
    border-radius: var(--radius-2);
    background-color: var(--brand-5);
  }

  @media screen and (min-width: 480px) {
    section {
      width: 66vw;
    }
    section > h1 {
      font-size: var(--font-size-5);
    }

    .links > ul > li {
      flex: 1 0 33%;
    }
  }

  @media screen and (min-width: 768px) {
    section {
      width: var(--size-content-2);
    }
    section > h1 {
      font-size: var(--font-size-6);
    }
    h1:before {
      height: 0.25rem;
      bottom: 1rem;
      right: 1.5rem;
    }
    h1:after {
      height: 0.25rem;
      bottom: 0rem;
      right: 1.5rem;
    }

    .links > ul > li {
      flex: 1 0 18%;
    }
  }

  @media screen and (min-width: 1024px) {
    section {
      width: var(--size-content-3);
    }
    section > h1 {
      font-size: var(--font-size-7);
    }
    h1:before {
      height: 0.33rem;
      bottom: 1.5rem;
      right: 2rem;
    }
    h1:after {
      height: 0.33rem;
      bottom: 0;
      right: 2rem;
    }
  }
</style>
