---
import Icon from '../../components/Icon/index.tsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href={Astro.resolve('../../styles/normalize.css')}
    />
    <title>calinennis.dev</title>
    <meta name="title" content="resume - calinennis.dev" />
    <meta name="description" content="Proffesional resume of Calin Ennis" />
  </head>
  <body class="nautical-light-theme">
    <article class="resume">
      <section class="name">
        <header>
          <h1>Calin Ennis</h1>
          <span>calinennis@gmail[dot]com</span>
        </header>
      </section>
      <section class="qr-code">
        <Icon type="qr-code" />
      </section>
      <section class="experience">
        <h2>Experience</h2>
        <ul>
          <li>
            <div class="title">
              <h3>Rangle.io</h3><span class="secondary-info">2018 - 2021</span>
            </div>
            <p>
              As a developer and consultant with Rangle, I partnered directly
              with clients and their product teams to deliver business critical
              impact and accelerate their time to market. Whether through
              process, strategy, education, or delivery, I was personally
              responsible for client outcomes and was able to deliver tangible
              results consistently and often. My clients needs varied wildly,
              but I was able to drive success for everything from global
              e-commerce web applications to specialized mobile-first medical
              software. I utilized modern strategies such as design systems,
              continuous integration and deployment, and domain driven
              development to empower clients digital transformations. I provided
              guidance on process, architecture, product design, and everything
              in between, leaving behind systems that would accelerate my
              clients long after I was gone. I occasionally helped lead internal
              teams to develop and deliver greenfield applications for various
              client ventures as well.
            </p>
          </li>
          <li>
            <div class="title">
              <h3>Delta Global Staffing</h3><span class="secondary-info">
                2014 - 2017</span
              >
            </div>
            <p>
              As a front-end developer for Delta, I helped create web
              applications that digitally transformed their Engine Maintenance
              program. Our applications enabled mechanics and engineers to
              maintain, track, and configure engines for commercial airlines. My
              co-workers and I worked within uncompromising business
              requirements and strict regulations to create rich, accessible,
              and intuitive user experiences and interfaces. Our platform
              brought industry first workflows and processes to the airline
              maintenance industry that resulted in the most accelerated engine
              maintenance cycle times in Delta's history.
            </p>
          </li>
        </ul>
      </section>
      <section class="stack">
        <h2>Tech</h2>
        <ul>
          <li>TS / JS</li>
          <li>React / Gatsby / Next</li>
          <li>Angular</li>
          <li>Vue</li>
          <li>Redux</li>
          <li>Jest / Cypress / Storybook</li>
          <li>Node / Express</li>
        </ul>
        <h2>Skills</h2>
        <ul>
          <li>Accessibility</li>
          <li>Analytics</li>
          <li>CI /CD</li>
          <li>Design Systems</li>
          <li>Internalization</li>
          <li>SEO</li>
          <li>Serverless</li>
          <li>Testing</li>
        </ul>
      </section>
      <section class="education">
        <h2>Education</h2>
        <ul>
          <li>
            <h4>Computer Science</h4>
            <h5>Bachelor of Science</h5>
            <h5>Georgia State University</h5>
          </li>
          <li>
            <h4>Audio Engineering</h4>
            <h5>Bachelor of Science</h5>
            <h5>Middle Tennessee State University</h5>
          </li>
        </ul>
      </section>
    </article>
  </body>
</html>

<style lang="scss">
  @font-face {
    font-family: 'Manrope';
    src: local(Manrope-ExtraLight),
      url('../../public/fonts/Manrope-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: 'Manrope';
    src: local(Manrope-Light),
      url('../../public/fonts/Manrope-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: 'Manrope';
    src: local(Manrope-Regular),
      url('../../public/fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }
  $sand1: hsl(50 20% 99%);
  $sand2: hsl(60 7.7% 97.5%);
  $sand3: hsl(59 6.5% 95.1%);
  $sand4: hsl(58 6.1% 92.9%);
  $sand5: hsl(57 6% 90.7%);
  $sand6: hsl(56 5.9% 88.4%);
  $sand7: hsl(55 5.9% 85.2%);
  $sand8: hsl(51 6% 77.1%);
  $sand9: hsl(50 2% 55.7%);
  $sand10: hsl(55 1.7% 51.9%);
  $sand11: hsl(50 2% 43.1%);
  $sand12: hsl(50 6% 10%);

  $font-sans: 'Manrope', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif;
  $font-serif: ui-serif, serif;

  body {
    display: grid;
    height: 100vh;
    width: 100vw;
    place-items: center;
    background-color: $sand8;
    color: $sand12;
    font-family: $font-sans;
  }
  article.resume {
    background-color: $sand1;
    width: 8.5in;
    height: 11in;
    padding: 3rem 4rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 3fr 2fr 2fr;
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
  }

  header {
    display: inline-flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
  }

  h1 {
    font-family: $font-serif;
    font-size: 4rem;
    font-weight: bolder;
    line-height: 1.1;
  }

  h2 {
    font-family: $font-serif;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.65;
    position: relative;
    width: fit-content;

    &:after {
      position: absolute;
      bottom: 0.5rem;
      right: 0;
      content: '';
      height: 0.125rem;
      width: 66%;
      margin: 0 0 0 auto;
      background-color: $sand6;
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  h3 {
    font-family: $font-sans;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2;
    width: fit-content;
  }
  .secondary-info {
    font-family: $font-sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    width: fit-content;
    padding-left: 0.5rem;
    color: $sand11;
  }

  h4 {
    font-family: $font-sans;
    font-size: 1rem;
    font-weight: 500;
    width: fit-content;
  }

  h5 {
    font-family: $font-sans;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1;
    width: fit-content;
    color: $sand11;
  }

  p {
    font-family: $font-sans;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25;
  }

  .qr-code {
    grid-area: 1 / 5 / 1 / 7;
    display: grid;
    place-items: start end;
  }
  svg {
    max-width: 50%;
    aspect-ratio: 1/1;
  }
  .name {
    grid-area: 1 / 1 / 2 / 5;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
  }
  .experience {
    grid-area: 2 / 1 / 4 / 5;
  }

  .experience > * + * {
    padding-left: 0.5rem;
  }

  .experience > ul > li:not(:first-child) {
    padding-top: 1rem;
  }
  .stack {
    grid-area: 2 / 5 / 3 / 7;
    display: flex;
    flex-direction: column;
    & > h2:not(:first-child) {
      padding-top: 2rem;
    }
    & > ul {
      list-style: circle inside;
      font-family: $font-sans;
      font-weight: 300;
      font-size: 1rem;
      font-color: $sand11;
      line-height: 1.5;
    }
  }
  .education {
    grid-area: 3 / 5 / 5 / 7;
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
