@font-face {
  font-family: 'GoodTimes';
  src: local(GoodTimes),
    url('../../public/fonts/GoodTimes.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Manrope';
  src: local(Manrope-ExtraLight),
    url('../../public/fonts/Manrope-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Manrope';
  src: local(Manrope-Light),
    url('../../public/fonts/Manrope-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Manrope';
  src: local(Manrope-Regular),
    url('../../public/fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
