@import 'fonts.css';
@import 'vars.css';
@import 'normalize.css';

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.25s ease;
    outline-offset: var(--size-1);
    outline-color: var(--brand-7);
  }
}

:root {
  font-size: 18px;
}

::selection {
  background-color: var(--accent-4);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
