---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class='h-full grid place-items-center'>
    <div class='p-6 rounded-md bg-white border border-zinc-300 animate-bounce'>
      <h1
        class='text-4xl tracking-wide font-mono font-semibold text-center m-0'
      >
        OOPS!
      </h1>
      <h3 class='font-sans text-xl text-center m-0'>
        404 - THE PAGE CAN'T BE FOUND
      </h3>
    </div>
  </div>
</Layout>
