---
import Layout from '../components/Layout.astro';
import { Icon } from '../components/Icon';
---

<Layout header="toolbar">
  <h1>About</h1>
  <section>
    <div class="col-tall">
      <h2>Personal</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eius nobis neque ut velit facere obcaecati delectus natus, autem optio. Numquam dolor voluptate nihil sed architecto tempora nulla quas eum?</p>
      <h2>Professional</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non praesentium maiores harum, omnis, dolores ratione sapiente rerum corrupti architecto unde dolor autem temporibus voluptatem, nesciunt odit aliquam facere. Consequatur, perspiciatis?</p>
    </div>
    <div class="col-short">
      <h2>Contact</h2>
      <p>You can find me in the interwebs below:</p>
      <div class="social-links">
        <Icon type="twitter" />
        <Icon type="linkedin" />
        <Icon type="github" />
        <Icon type="email" />
      </div>
    </div>
  </section>
</Layout>


<style lang="scss">
  h1 {
    width: fit-content;
    margin: 10vh auto;
    font-family: var(--font-display);
    font-weight: var(--font-weight-1);
    text-align: right;
    font-size: var(--font-size-7);
    letter-spacing: var(--font-letterspacing-2);
    text-transform: uppercase;
    position: relative;

    &:before {
      position: absolute;
      bottom: -0.5rem;
      right: 2rem;
      content: '';
      height: 0.33rem;
      width: 66%;
      margin: 0 0 0 auto;  
      background-color: var(--neutral-12);
    }
    &:after {
      position: absolute;
      bottom: -1.5rem;
      right: 2rem;
      content: '';
      height: 0.33rem;
      width: 75%;
      margin: 0 0 0 auto;  
      background-color: var(--neutral-12);
    }
  }

  section {
    width: var(--size-content-1);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: var(--size-10);;
  }

  .col-tall {
    grid-area: 1 / 1 / 3 / 2;
  }

  .col-short {
    grid-area: 1 / 2 / 2 / 3;
  }

  h2 {
    position: relative;
    font-family: var(--font-sans);
    letter-spacing: var(--font-letterspacing-3);
    width: fit-content;

    &:first-letter {
      font-family: var(--font-display);
      font-size: var(--font-size-4);
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: var(--font-letterspacing-2);
      margin-right: var(--size-00);
      text-decoration: none;
    }
    &:before {
      position: absolute;
      bottom: 0.125rem;
      right: 0;
      left: 0;
      content: '';
      height: 2px;
      width: 66%;
      margin: 0 auto; 
      background-color: var(--neutral-6);
    }
  }

  p {
    text-align: justify
  }

  .social-links {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--brand-12)
  }
  

  @media screen and (min-width: 480px) {
        section {
      width: var(--size-content-2);
    }
  }
  @media screen and (min-width: 1024px) {
    section {
      width: var(--size-content-3);
    }
  }

</style>