---
import Layout from '../components/Layout.astro';
import { Icon } from '../components/Icon';
---

<Layout header="toolbar">
  <div class="page-container">
    <h1>About</h1>
    <section>
      <div class="description">
        <h2>Professional</h2>
        <p>
          I am a web developer and consultant based in Atlanta. I can best be described as a front-end full stack developer. I opperate from a product and customer centric perspective, always choosing technologies and solutions that benifit the end user. I love leading teams and working in collaborative and agile enviroments. I believe in being egoless and open while still exercising extreme ownership and responsibility.<br/><br/> I am currently looking for new opportunities. If your organization likes to ship and has opportunites for both carrer and technincal growth, please get in contact. 
        </p>
      </div>
      <div class="links">
        <h2>Contact</h2>
        <ul>
          <li><Icon type="twitter" /> twitter</li>
          <li><Icon type="linkedin" /> linked-in</li>
          <li><Icon type="github" /> github</li>
          <li><Icon type="document" /> resume</li>
          <li><Icon type="email" /> email</li>
        </ul>
        
        
      </div>
    </section>
  </div>
</Layout>


<style lang="scss">
  .page-container {
    margin-top: calc(5vw + 6rem);
  }
  h1 {
    width: fit-content;
    margin: 0 auto var(--size-9) auto;
    font-family: var(--font-display);
    font-weight: var(--font-weight-1);
    text-align: right;
    font-size: var(--font-size-7);
    letter-spacing: var(--font-letterspacing-2);
    text-transform: uppercase;
    position: relative;

    &:before {
      position: absolute;
      bottom: -0.5rem;
      right: 2rem;
      content: '';
      height: 0.33rem;
      width: 66%;
      margin: 0 0 0 auto;  
      background-color: var(--neutral-12);
    }
    &:after {
      position: absolute;
      bottom: -1.5rem;
      right: 2rem;
      content: '';
      height: 0.33rem;
      width: 75%;
      margin: 0 0 0 auto;  
      background-color: var(--neutral-12);
    }
  }

  section {
    width: var(--size-content-1);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    & > :first-child {
      padding-right: var(--size-10);
    }
  }

  .description {
    flex: 3 1 30ch;
  }

  .links {
    flex: 2 1 15ch;
    display: flex;
    flex-direction: column;

    & > ul {
      padding: 0;
      color: var(--brand-12);
      font-family: var(--font-sans);
      font-size: var(--font-size-0);
      tex-align: left;
    }
  }

  h2 {
    position: relative;
    font-family: var(--font-sans);
    letter-spacing: var(--font-letterspacing-2);
    width: fit-content;

    &:first-letter {
      font-family: var(--font-display);
      font-size: var(--font-size-4);
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: var(--font-letterspacing-2);
      margin-right: var(--size-00);
      padding-right: 1px;
    }
    &:before {
      position: absolute;
      bottom: 0.125rem;
      right: 0;
      left: 0;
      content: '';
      height: 2px;
      width: 66%;
      margin: 0 auto; 
      background-color: var(--neutral-6);
    }
  }

  p {
    text-align: left;
    line-height: var(--font-lineheight-2);
  }

  .strikethrough {
    text-decoration: line-through;
  }

  @media screen and (min-width: 480px) {
        section {
      width: var(--size-content-2);
    }
  }
  @media screen and (min-width: 1024px) {
    section {
      width: var(--size-content-3);
    }
  }

</style>