---
import Layout from '../components/Layout.astro';
// import Button from '../components/Button.tsx';
---

<Layout>
  <section class="h-screen flex flex-col justify-center space-y-8 md:space-y-16 lg:space-y-8">
    <figure
      class="flex flex-col-reverse justify-start items-center md:flex-row md:space-x-8 md:justify-center"
    >
      <figcaption class="text-center md:text-right">
        <span
          class="block text-neutral-1 uppercase text-2xl xs:text-3xl md:text-4xl lg:text-6xl font-display font-thin leading-none md:self-end md:mr-[-4px] lg:mr-[-8px]"
          >Calin</span
        >
        <span
          class="block text-neutral-1 uppercase text-xl xs:text-2xl md:text-3xl lg:text-5xl font-display font-thin leading-none md:self-end tracking-widest md:mr-[-8px] lg:mr-[-16px]"
          >Ennis</span
        >
        <p
          class="text-neutral-3 font-sans font-thin text-sm tracking-tight lg:text-base text-center md:text-right leading-tight md:leading-none pt-4 md:pt-0"
        >
          Web Developer & Consultant
        </p>
      </figcaption>
      <img
        class="rounded-full rotate-3 -z-50 bg-neutral-12 w-56 -mb-8 m:-mb-12 md:m-0 md:w-72 lg:w-96"
        src="/images/avatar_dark.png"
        alt="picture of calin ennis"
      />
    </figure>
		<!-- <Button to="/about" color="neutral" style="outline">Find Out More</Button> -->
  </section>
</Layout>
