---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section>
    <figure>
      <figcaption>
        <span
          class="first-name md:text-5xl lg:text-6xl xl:text-7xl md:self-end md:mr-[-4px] lg:mr-[-8px]"
          >Calin</span
        >
        <span
          class="last-name md:text-4xl lg:text-5xl xl:text-6xl md:self-end md:mr-[-8px] lg:mr-[-16px]"
          >Ennis</span
        >
        <hr class="seperator" />
        <p class="job-role">Web Developer & Consultant</p>
      </figcaption>
      <img src="/images/avatar_dark.png" alt="picture of calin ennis" />
    </figure>
  </section>
</Layout>

<style lang="scss">
  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: var(--size-4);
    width: 100%;
  }

  figcaption {
    text-align: center;
  }

  figcaption > span {
    display: block;
    text-transform: uppercase;
    font-family: var(--font-display);
    font-weight: var(--font-weight-1);
    line-height: var(--font-lineheight-00);
  }

  .first-name {
    font-size: clamp(var(--font-size-3), 5vw + 3.25rem, var(--font-size-7));
  }

  .last-name {
    font-size: clamp(var(--font-size-2), 5vw + 2rem, var(--font-size-6));
    letter-spacing: var(--font-letterspacing-4);
  }

  .seperator {
    display: none;
    border-color: var(--neutral-6);
  }

  .job-role {
    color: var(--neutral-11);
    font-weight: var(--font-weight-3);
    letter-spacing: var(--font-letterspacing-0);
    line-height: var(--font-lineheight-4);
    text-align: center;
  }

  img {
    aspect-ratio: 1/1;
    border-radius: 100%;
    transform: rotate(3deg);
    width: 75vw;
    max-width: calc(var(--max-screen-width) * (2 / 5));
    box-shadow: var(--shadow-4);
  }

  @media screen and (min-width: 480px) {
    .first-name {
      font-size: clamp(var(--font-size-4), 4vw + 4rem, var(--font-size-7));
    }
    .last-name {
      font-size: clamp(var(--font-size-3), 4vw + 3rem, var(--font-size-6));
      letter-spacing: var(--font-letterspacing-2);
    }
    .job-role {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 768) {
    .job-role {
      font-size: var(--font-size-2);
    }
  }

  @media screen and (min-width: 1024px) {
    figure {
      justify-content: space-between;
      gap: 0;
    }

    figcaption {
      text-align: right;
    }

    .first-name {
      font-size: var(--font-size-7);
      margin-right: -8px;
    }

    .last-name {
      font-size: var(--font-size-6);
      margin-right: -8px;
    }

    .seperator {
      display: inline-block;
      width: 70%;
      margin: 0.75rem 0 0.75rem auto;
    }

    .job-role {
      font-size: var(--font-size-2);
      text-align: right;
      line-height: var(--font-lineheight-0);
      margin: 0;
    }
  }
</style>
