---
import Layout from '../components/Layout.astro';
---

<Layout>
	<div class="flex">
		<div class="w-3/5 pr-8 flex flex-col justify-center">
			<span class="text-neutral-1 uppercase text-6xl font-display font-thin leading-none self-end">Calin</span>
			<span class="text-neutral-1 uppercase text-5xl font-display font-thin leading-none self-end tracking-widest">Ennis</span>
			<p class="text-neutral-2 font-sans font-thin text-base text-right leading-none">Web Development & Consulting</p>
		</div>
		<div class="my-auto">
			<img class="rounded-full rotate-3 bg-neutral-12" src="/images/avatar_dark.png" alt="picture of calin ennis">
		</div>
	</div>
	<div class="flex">
		<button class="py-4 px-6 text-neutral-1 text-lg font-thin border border-neutral-1">Find Out More</button>
	</div>
</Layout>

