header {
  color: var(--neutral-12);
  border-bottom: 1px solid var(--neutral-6);
}

nav {
  visibility: hidden;
  position: fixed;
  left: -200px;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding: var(--size-2) var(--size-7);
  background-color: rgba($color: #ffffff, $alpha: 0.66);
  backdrop-filter: saturate(180%) blur(5px);
  z-index: 999998;
}

[data-theme='dark'] {
  nav {
    background-color: rgba($color: #000000, $alpha: 0.66);
  }
}

nav > ul > li {
  z-index: 999999;
  line-height: var(--font-lineheight-4);
  cursor: pointer;
  letter-spacing: var(--font-letterspacing-2);
  font-size: var(--font-size-2);
  font-weight: 400;
  padding: 0.25rem 0;

  width: fit-content;

  & svg {
    font-size: var(--font-size-1);
    margin-bottom: 2rem;
  }
}

.toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-3) var(--size-7);
  width: 100%;
  max-width: var(--max-screen-width);
  margin: 0 auto;
}

a[role='button'] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  aspect-ratio: 1/1;
  border: none;
}

@media (min-width: 768px) {
  .hide-on-large {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .hide-on-small {
    display: none;
  }
}

.controls-left {
  display: flex;
  align-items: center;
  font-size: var(--font-size-2);
}

.controls-right > * {
  margin-left: 1rem;
}
.controls-right {
  display: flex;
  align-items: center;
}

.controls-right > a {
  position: relative;
}

.controls-right > a:before {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  height: 2px;
  bottom: -0.25rem;
  left: 0;
  background-color: var(--brand-8);
  transform: scaleX(0);
  transition: transform 0.175s ease;
}

[data-theme='dark'] {
  .controls-right > a:before {
    background-color: var(--accent-8);
  }
}

.controls-right > a:hover::before {
  transform: scaleX(1);
}

.controls-right > span {
  color: var(--neutral-6);
  font-size: var(--font-size-2);
}
.controls-right > span:hover {
  cursor: default;
}

.theme-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;
}

.theme-button > svg {
  color: var(--neutral-12);
  height: var(--font-size-1);
}

@media (prefers-reduced-motion) {
  #menu:target {
    left: 0;
    visibility: initial;
  }
}

#menu:target {
  @keyframes wipe-in-left {
    from {
      left: -200px;
    }
    to {
      left: 0;
    }
  }

  animation: 0.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
  visibility: initial;
}
