---
import { Header } from './Header';

export interface Props {
  title?: string;
  desription?: string;
  ogImageSource?: string;
}

const fallbackDescription =
  'I consult and develop software for the modern web. I specialize in Javascript and front-end technologies. This site acts as my personal blog and portfolio.';

const { title, description, ogImageSource } = Astro.props;
---

<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href={Astro.resolve('../styles/global.css')}
    />
    <title>{title ? title + ' - calinennis.dev' : 'calinennis.dev'}</title>
    <meta name="title" content={title ? title : 'calinennis.dev'} />
    <meta name="description" content={description ?? fallbackDescription} />

    <!-- RSS -->
    <!-- <link rel="alternate" type="application/rss+xml" href="/feed/posts.xml"> -->

    <!-- OpenGraph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description ?? fallbackDescription}
    />
    {ogImageSource && (<meta property="og:image" content={ogImageSource}>)}

    <!-- Twitter -->
    <meta
      name="twitter:card"
      content={ogImageSource ? 'summary_large_image' : 'summary'}
    />
    <meta name="twitter:site" content="@calin_ennis" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content={description ?? fallbackDescription}
    />
    {ogImageSource && (<meta name="twitter:image" content={ogImageSource}>)}
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style global>
  body {
    font-family: var(--font-sans);
    background-color: var(--neutral-1);
    color: var(--neutral-12);
    overflow: hidden;
  }
</style>
