---
export interface Props {
  title: string;
  date: string;
}

import { parseISO, format } from 'date-fns';

let { title, date: rawDate } = Astro.props;

const date = parseISO(rawDate);
const formatted = format(date, 'LLLL d, yyyy');
---

<div class='my-4'>
  <h2
    class='tracking-wide text-2xl underline md:no-underline md:text-3xl m-0 leading-8'
  >
    {title}
  </h2>
  <time
    class='font-mono tracking-tighter text-xs leading-6 text-zinc-500 pl-px'
    datetime={date.toString()}
    >{formatted}
  </time>
</div>
