---
import Layout from '../../layouts/Layout.astro';
import PageTitle from '../../components/PageTitle.astro';
import PostPreview from '../../components/PostPreview.astro';

const allPosts = Astro.fetchContent<{ createdAt: string }>('./*.md').sort(
  (a, b) =>
    (new Date(b.createdAt) as unknown as number) -
    (new Date(a.createdAt) as unknown as number)
);
---

<Layout>
  <div class="post-preview-container">
    <PageTitle>Musings</PageTitle>
    {allPosts.map((p) => <PostPreview post={p} />)}
  </div>
</Layout>

<style lang="scss">
  .post-preview-container {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 480px) {
    .post-preview-container {
      width: 66vw;
    }
  }

  @media screen and (min-width: 768px) {
    .post-preview-container {
      width: var(--size-content-2);
    }
  }

  @media screen and (min-width: 1024px) {
    .post-preview-container {
      width: var(--size-content-3);
    }
  }
</style>
