---
import Layout from '../../layouts/Layout.astro';
import PageTitle from '../../components/PageTitle.astro';
import PostPreview from '../../components/PostPreview.astro';

const allPosts = await Astro.glob("./*.md");
let posts = await Promise.all(
  Object.entries(allPosts).map(async ([key, post]) => {
  return post.default().then(async content => {
    return {
      ...post,
      astro:  await content.metadata
    }
  })
})
)

const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
);
---

<Layout>
  <div class="post-preview-container">
    <PageTitle>Musings</PageTitle>
    {sortedPosts.map((p) => <PostPreview post={p} />)}
  </div>
</Layout>

<style lang="scss">
  .post-preview-container {
    margin: 0 auto;
  }
</style>
