---
import Layout from '../../layouts/Layout.astro';
import PageTitle from '../../components/PageTitle.astro';
import PostPreview from '../../components/PostPreview.astro';

const allPosts = Astro.fetchContent<{ createdAt: string }>('./*.md')
  .sort(
    (a, b) =>
      (new Date(b.createdAt) as unknown as number) -
      (new Date(a.createdAt) as unknown as number)
  )
  .filter((post) => !(post as { hidden?: boolean }).hidden);
---

<Layout>
  <div class="post-preview-container">
    <PageTitle>Musings</PageTitle>
    {allPosts.map((p) => <PostPreview post={p} />)}
  </div>
</Layout>

<style lang="scss">
  .post-preview-container {
    margin: 0 auto;
  }
</style>
