---
import Layout from '../../layouts/Layout.astro';
import PostPreview from '../../components/PostPreview.astro';

const allPosts = await Astro.glob('./*.md');
let posts = await Promise.all(
  Object.entries(allPosts).map(async ([key, post]) => {
    return post.default().then(async (content) => {
      return {
        ...post,
        astro: await content.metadata,
      };
    });
  })
);

const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
);
---

<Layout>
  <div class='mt-[48px]'>
    <h1
      class='text-center py-6 mb-12 text-4xl font-mono bg-white rounded-md text-zinc-700 bg-blend-color-dodge drop-shadow-lg'
    >
      Writing
    </h1>
    {sortedPosts.map((p) => <PostPreview post={p} />)}
  </div>
</Layout>
