a {
  text-decoration: none;
  position: relative;
}

a:before {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  height: 2px;
  bottom: -0.25rem;
  left: 0;
  background-color: var(--brand-8);
  transform: scaleX(0);
  transition: transform 0.175s ease;
}

a[role='button']:hover::before {
  transform: none;
}

a:hover::before {
  transform: scaleX(1);
}
